<form action="/auth/register" method="POST">

    <div class="form-group">
        <label for="name"> Name </label>
        <input type="text" name="name" id="name" class="form-control">
    </div>
    <div class="form-group">
        <label for="username"> Username </label>
        <input type="text" name="username" id="username" class="form-control">
    </div>
    <div class="form-group">
        <label for="email"> Email </label>
        <input type="text" name="email" id="email" class="form-control">
    </div>
    <div class="form-group">
        <label for="password"> Password </label>
        <input type="password" name="password" id="password" class="form-control">
    </div>
    <div class="form-group">
        <label for="confirm_password"> Confirm Password </label>
        <input type="password" name="confirm_password" id="confirm_password" class="form-control">
    </div>

    <div class="text-center">
        <div class="form-group">
            <button type='submit' class="btn btn-success">Create your account</button>
        </div>

        <span>
            Already registered? <a href="/auth/login"> Login now</a>
        </span>
    </div>

    <div class="social-buttons">
        <h3 class="text-center">Login with</h3>
        <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook">
            <span class="fa fa-facebook"></span> Sign in with Facebook
        </a>
        <a class="btn btn-block btn-social btn-github" href="/auth/github">
            <span class="fa fa-github"></span> Sign in with GitHub
        </a>
        <a class="btn btn-block btn-social btn-google" href="/auth/google">
            <span class="fa fa-google"></span> Sign in with Google
        </a>
        <a class="btn btn-block btn-social btn-twitter" href="/auth/twitter">
            <span class="fa fa-twitter"></span> Sign in with Twitter
        </a>
    </div>


</form>